
@{
    ViewData["Title"] = "ReservationList";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <br />
                <h5> Lista de reservaciones </h5>
            </div>
        </div>
    </div>
</div>