
@{
    ViewData["Title"] = "Availability";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <br />
                <h5> Disponibilidad de habitaciones </h5>
            </div>
        </div>
    </div>
</div>