@{
    var typeRoomList = ViewBag.TypeRoom;
}
<div class="container pText">
    <br />
    
    <div class="row ">

        <div class="col-lg-4 col-md-6 col-sm-12" >
            <div>
                <h5 class="text-center"> Disponibilidad de habitaciones </h5>
                <div class="col-12">
                    <label for="arrivaldate">Fecha de llegada </label>
                    <input type="date" class="form-control" id="arrivaldateA" onchange="datechange()" required>
                    <div class="valid-feedback">
                        Fecha selecionada
                    </div>
                </div>
                <div class="col-12">
                    <label for="departuredate">Fecha de salida </label>
                    <input type="date" class="form-control" id="departuredateA" required>
                    <div class="valid-feedback">
                        Fecha selecionada
                    </div>
                </div>
                <div class="col-12">
                    <label for="typeroomcb">Tipo de habitación </label>
                    <select class="form-control" id="typeroomcbA" name="typeroomcb">
                        @foreach (var room in typeRoomList)
                        {
                            <option value="@room.id">@room.description</option>
                        }
                    </select>
                </div>
                <div class="col-12">
                    <br />
                    <button id="searchroomavailability" onclick="SearchRoomAvailability()" class="btn btn-primary" type="button">Buscar Resultados</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 table-responsive" id="reservationtablecontainer">
            <h4 id="alert" style="color:darkred" class="text-center"></h4>
            <table class="table table-striped" id="reservationtable">
                <thead>
                    <tr>
                        <th scope="col">Número Habitación</th>
                        <th scope="col">Tipo Habitación</th>
                        <th scope="col">Tarifa</th>
                    </tr>
                </thead>
                <tbody id="bodytable">
                </tbody>
            </table>
        </div>
    </div>
</div>
    
