
*.cache
*.cache
*.ide-shm

.vs/HotelSystemHona/v16/.suo
*.props
Presentation/obj/Presentation.csproj.nuget.g.props
Presentation/obj/project.assets.json
Presentation/obj/Presentation.csproj.nuget.g.props
Presentation/obj/Presentation.csproj.nuget.dgspec.json
Presentation/obj/Presentation.csproj.nuget.cache
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Shared/Error.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_LayoutAdministrator.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Reservation/Payment.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Reservation/Home.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Reservation/Data.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Reservation/Confirmation.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Rates/Home.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Locate/Home.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Facilities/Home.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/Contact/Home.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/AdministratorState/State.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/AdministratorReservationList/ReservationList.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/AdministratorPublicity/Publicity.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/AdministratorModifyPage/ModifyPage.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/AdministratorModifyPage/ModifyLocate.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/AdministratorModifyPage/ModifyHome.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/AdministratorModifyPage/ModifyFacilities.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/AdministratorModifyPage/ModifyAbout.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/AdministratorManageRooms/ManageRooms.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/AdministratorHome/AdministratorIndex.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/AdministratorAvailability/Availability.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/About/Home.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/_ViewStart.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/ResetPasswordConfirmation.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/ResetPassword.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/Register.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/Manage/SetPassword.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/Manage/ResetAuthenticator.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/Manage/_ViewImports.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/Logout.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/LoginWithRecoveryCode.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/Login.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/Lockout.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/ForgotPasswordConfirmation.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/ForgotPassword.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/ExternalLogin.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/ConfirmEmail.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/AccessDenied.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/Account/_ViewImports.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/_ViewImports.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Razor/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml.g.cs
Presentation/obj/Debug/netcoreapp2.1/Presentation.Views.pdb
Presentation/obj/Debug/netcoreapp2.1/Presentation.Views.dll
Presentation/obj/Debug/netcoreapp2.1/Presentation.RazorCoreGenerate.cache
Presentation/obj/Debug/netcoreapp2.1/Presentation.pdb
Presentation/obj/Debug/netcoreapp2.1/Presentation.dll
Presentation/obj/Debug/netcoreapp2.1/Presentation.csprojAssemblyReference.cache
Presentation/obj/Debug/netcoreapp2.1/Presentation.csproj.FileListAbsolute.txt
Presentation/obj/Debug/netcoreapp2.1/Presentation.assets.cache
Presentation/bin/Debug/netcoreapp2.1/Presentation.Views.pdb
Presentation/bin/Debug/netcoreapp2.1/Presentation.Views.dll
Presentation/bin/Debug/netcoreapp2.1/Presentation.runtimeconfig.dev.json
Presentation/bin/Debug/netcoreapp2.1/Presentation.pdb
Presentation/bin/Debug/netcoreapp2.1/Presentation.dll
Presentation/bin/Debug/netcoreapp2.1/Domain.pdb
Presentation/bin/Debug/netcoreapp2.1/Domain.dll
Presentation/bin/Debug/netcoreapp2.1/Data.pdb
Presentation/bin/Debug/netcoreapp2.1/Data.dll
Presentation/bin/Debug/netcoreapp2.1/Business.pdb
Presentation/bin/Debug/netcoreapp2.1/Business.dll
Domain/obj/project.assets.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/obj/Domain.csproj.nuget.cache
Domain/obj/Debug/netstandard2.0/Domain.pdb
Domain/obj/Debug/netstandard2.0/Domain.dll
Domain/obj/Debug/netstandard2.0/Domain.csprojAssemblyReference.cache
Domain/obj/Debug/netstandard2.0/Domain.assets.cache
Domain/bin/Debug/netstandard2.0/Domain.pdb
Domain/bin/Debug/netstandard2.0/Domain.dll
Data/obj/project.assets.json
Data/obj/Debug/netstandard2.0/Data.pdb
Data/obj/Debug/netstandard2.0/Data.dll
Data/obj/Debug/netstandard2.0/Data.csprojAssemblyReference.cache
Data/obj/Debug/netstandard2.0/Data.assets.cache
Data/obj/Data.csproj.nuget.g.props
Data/obj/Data.csproj.nuget.dgspec.json
Data/obj/Data.csproj.nuget.cache
Data/bin/Debug/netstandard2.0/Domain.pdb
Data/bin/Debug/netstandard2.0/Domain.dll
Data/bin/Debug/netstandard2.0/Data.pdb
Data/bin/Debug/netstandard2.0/Data.dll
Business/obj/project.assets.json
Business/obj/Debug/netstandard2.0/Business.pdb
Business/obj/Debug/netstandard2.0/Business.dll
Business/obj/Debug/netstandard2.0/Business.csprojAssemblyReference.cache
Business/obj/Debug/netstandard2.0/Business.assets.cache
Business/obj/Business.csproj.nuget.g.props
Business/obj/Business.csproj.nuget.dgspec.json
Business/obj/Business.csproj.nuget.cache
Business/bin/Debug/netstandard2.0/Domain.pdb
Business/bin/Debug/netstandard2.0/Domain.dll
Business/bin/Debug/netstandard2.0/Data.pdb
Business/bin/Debug/netstandard2.0/Data.dll
Business/bin/Debug/netstandard2.0/Business.pdb
Business/bin/Debug/netstandard2.0/Business.dll
.vs/HotelSystemHona/v16/Server/sqlite3/storage.ide-wal
.vs/HotelSystemHona/v16/Server/sqlite3/storage.ide
.vs/HotelSystemHona/v16/.suo
.vs/HotelSystemHona/DesignTimeBuild/.dtbcache
.vs/HotelSystemHona/config/applicationhost.config
