
Admin/Business/obj/Debug/netstandard2.0/Business.csproj.FileListAbsolute.txt
Admin/Data/obj/Debug/netstandard2.0/Data.csproj.FileListAbsolute.txt
Admin/Domain/obj/Debug/netstandard2.0/Domain.csproj.FileListAbsolute.txt
