<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <br />
                <h5> Modificar Páginas </h5>
                <br />
                <h6>Seleccione la página que desea modificar</h6>
                <br />
                <div class="w-25">
                    <a href="ModifyHome" class="page-link">Home</a>
                    <a href="ModifyAbout" class="page-link">Sobre nosotros</a>
                    <a href="ModifyFacilities" class="page-link">Facilidades</a>
                    <a href="ModifyLocate" class="page-link">Como llegar</a>
                </div>
                
            </div>
        </div>
    </div>
</div>