@model List<Presentation.Models.ContentPageModel>


<div class="container">
    <br />
    <h5> Facilidades </h5>
    <div class="row">


        @foreach (var content in Model)
        {
            <div class="col-4">
                <div class="img">
                    <img src="@content.urlimage" class="img-fluid">
                </div>

            </div>
            <div class="col-8">
                <p>
                    @content.content
                </p>
            </div>
        }

    </div>
    <br />

</div>

