
@{
    ViewData["Title"] = "Confirmacion";
    var reservation = ViewBag.Reservation;
    var client = ViewBag.Client;
    var sendMail = ViewBag.Email;
}

    <div class="container text-center pText">
        <br />
        <h5 class="titulopagina">Reserva en linea</h5>
        <div class="row">
            <div class="col-12">
                <h2>Reservación realizada</h2>
                <h3>Gracias @client.name</h3>
                <h4>Datos reservación:</h4>
                <h5>
                    @sendMail.action;
                </h5>
            </div>
        </div>
    </div>

