<div class="container">
    <br />
    <h5 class="titulopagina">Contactenos</h5>
    <div class="row w-75">
        <div class="col-12">
            <h5 class="titulopagina">El Horario de Atención para el Hotel:</h5>
            <br>
            <h4>
                Lunes a Sábado
                <br>
                7 am a 6pm
            </h4>
            <br>
            <hr>
            <h5 class="titulopagina">Numeros Telefonicos del Hotel:</h5>
            <br>
            <h4>
                888-888-888
                <br>
                777-777-777
            </h4>
            <hr>
            <h5 class="titulopagina">Correo electrónico del Hotel:</h5>
            <br>
            <h4>
                www.HotelPatito@gmail.com
            </h4>
            <hr>
            <a id="f" href="http://www.ict.go.cr/es/" target="_blank"><h5>Instituto Costarricense de Turismo</h5></a>|
            <a id="f" href="http://www.canatur.org/" target="_blank"><h5>Canatur</h5></a>
            |<a id="f" href="http://www.esencialcostarica.com/" target="_blank"><h5>Esencial Costa Rica</h5></a>
            <br>
            <hr>
            <img src="~/images/instagram.png" alt="imagenHotelPatito" />
            <img src="~/images/facebook.png" alt="imagenHotelPatito" />
            <img src="~/images/twitter.png" alt="imagenHotelPatito" />
        </div>
    </div>
</div>