@model List<Presentation.Models.ContentPageModel>


<div class="container pText">
    <br />
    <h4 class="titulopagina"> Facilidades </h4>
    <div class="row table-responsive">
            <table class="table table-striped" id="facilitiesTable">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="bodytable">
                    @foreach (var content in Model)
                    {
                        <tr>
                            <td>
                                <div class="col-md-12 col-sm-12">
                                    <div class="img" style="width:300px">
                                        <img src="@content.urlimage" class="img-fluid">
                                    </div>
                                </div>
                            </td>
                            <td> 
                            <div class="col-md-12 col-sm-12 text-justify">
                                <p>@content.content</p>
                             </div>
                            </td>
                        </tr>
                    }
                    </tbody>
            </table>
    </div>
    <br />

</div>

