@{
    List<ContentPageModel> contentPage = (List<ContentPageModel>)ViewBag.contentPage;    
    HotelModel hotel = (HotelModel)ViewBag.hotel;
}

<div class="row">
    <div class="col-12">
        <div class="w-75">
            <br />
            <h5> Sobre Nosotros</h5>           
                <p>
                    @hotel.aboutus
                </p>
            
        </div>
    </div>
    <div class="col-12">
        <div class="container">
            <h5>Galería</h5>
            <div class="row w-75">
                <div class="col-6">
                    <div class="img">
                        <img class="img-fluid" src="~/images/Galeria/img_01.jpg" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="container">
                        <div class="row">
                            @foreach (ContentPageModel content in contentPage)
                            {
                                <div class="col-4">

                                    <div class="img">
                                        <img src="@content.urlimage" class="img-fluid">
                                    </div>

                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
