
@{
    ViewData["Title"] = "AdministratorIndex";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron text-center">
                <br />
                <h5> Modulo Administrativo </h5>
               <div>

                   <a href="/Identity/Account/Login" class=" btn btn-info ">Ingresar</a>

               </div>
            </div>
        </div>
    </div>
</div>