
@{
    ViewData["Title"] = "Confirmacion";
}

    <div class="container">
        <br />
        <h5 class="titulopagina">Reserva en linea</h5>
        <div class="row w-75">
            <div class="col-12">
                <p>Reservación realizada</p>
                <p>Gracias</p>
            </div>
        </div>
    </div>

