@{
    var typeRoomList = ViewBag.TypeRoom;
}
<div class="container">
    <br />
    <h5 class="titulopagina">Reserva en linea</h5>
    <div class="row w-75">
        <div class="col-12">
            <div class="form-row">
                <div class="col-6">
                    <label for="arrivaldate">Fecha de llegada </label>
                    <input type="date" class="form-control" id="arrivaldate" onchange="datechange()" required>
                    <div class="valid-feedback">
                        Fecha selecionada
                    </div>
                </div>
                <div class="col-6">
                    <label for="departuredate">Fecha de salida </label>
                    <input type="date" class="form-control" id="departuredate" required>
                    <div class="valid-feedback">
                        Fecha selecionada
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label for="typeroomcb">Tipo de habitación </label>
                <select class="form-control" id="typeroomcb">
                    @foreach (var room in typeRoomList)
                    {
                        <option value="@room.id">@room.description</option>
                    }
                </select>
            </div>
            <br />
            <button id="searchroom" class="btn btn-primary" type="submit">Buscar Resultados</button>
        </div>
        <form action="/Reservation/Data">
            <h2 id="alert" style="color:darkred"></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tipo Habitación</th>
                        <th scope="col">Número Habitación</th>
                        <th scope="col">Capacidad Personas</th>
                        <th scope="col">Cantidad Camas</th>
                        <th scope="col">Precio</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><h5 id="typeroom" style="color:blue"></h5></th>
                        <td><h5 id="number" style="color:blue"></h5></td>
                        <td><h5 id="quantityperson" style="color:blue"></h5></td>
                        <td><h5 id="quantitybed" style="color:blue"></h5></td>
                        <td><h5 id="amount" style="color:blue"></h5><input type="text" name="amountsumit" id="amountsumit" style="visibility:hidden" readonly></td>
                        <td><button class="btn btn-success btn-lg" type="submit">Reservar</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script>
    // Function which returns a minimum of two digits in case the value is less than 10
    const getTwoDigits = (value) => value < 10 ? `0${value}` : value;

    const formatDate = (date) => {
        const day = getTwoDigits(date.getDate());
        const month = getTwoDigits(date.getMonth() + 1); // add 1 since getMonth returns 0-11 for the months
        const year = date.getFullYear();

        return `${year}-${month}-${day}`;
    }

    const formatDate2 = (date) => {
        const day = getTwoDigits(date.getDate() + 2);
        const month = getTwoDigits(date.getMonth() + 1); // add 1 since getMonth returns 0-11 for the months
        const year = date.getFullYear();

        return `${year}-${month}-${day}`;
    }

    const formatDate3 = (date) => {
        const day = getTwoDigits(date.getDate() + 1);
        const month = getTwoDigits(date.getMonth() + 1); // add 1 since getMonth returns 0-11 for the months
        const year = date.getFullYear();

        return `${year}-${month}-${day}`;
    }

    const formatTime = (date) => {
        const hours = getTwoDigits(date.getHours());
        const mins = getTwoDigits(date.getMinutes());

        return `${hours}:${mins}`;
    }

    const date = new Date();
    /*define valores por defecto y minimos en el selector de fecha*/
    document.getElementById('arrivaldate').value = formatDate(date);
    document.getElementById('arrivaldate').min = formatDate(date);
    /*define valores por defecto y minimos en el selector de fecha*/
    document.getElementById('departuredate').value = formatDate2(date);
    document.getElementById('departuredate').min = formatDate3(date);

    /*Cambia automáticamente el límite del siguiente selector de fecha*/
    function datechange() {
        document.getElementById('departuredate').min = document.getElementById('arrivaldate').value;
    }
</script>
