
@{
    ViewData["Title"] = "Publicity";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <br />
                <h5> Publicidad </h5>
            </div>
        </div>
    </div>
</div>