@{
    List<ContentPageModel> contentPage = (List<ContentPageModel>)ViewBag.contentPage;    
    HotelModel hotel = (HotelModel)ViewBag.hotel;
}

    <link href="~/css/gallery.css" rel="stylesheet">
<div class="row">
    <div class="col-12 p-2">
        <div class="p-4">
            <h4 class="titulopagina"> Sobre Nosotros</h4>
            <br />
            <p class="text-justify">
                @hotel.aboutus
            </p>

        </div>
    </div>
    <div class="col-12 p-4">
        <div class="container">
            <h5>Galería</h5>
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="img">
                        <img class="imgSelected img-fluid" src="@contentPage[0].urlimage" />
                    </div>
                </div>
                <div class="gallery col-sm-12 col-lg-6">
                    <div class="container">
                        <div class="row">
                            @foreach (ContentPageModel content in contentPage)
                            {
                                if (content.referentpage != "publicity")
                                {
                                    <div class="col-4">
                                        <div class="img">
                                            <img src="@content.urlimage" class="imgGallery img-fluid">
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
