@{
    HotelModel hotel = (HotelModel)ViewBag.hotel;
}

<div class="row">
    <div class="col-12">
        <div class="w-75">
            <br />
            <h5> Como Llegar</h5>
            <p>
              @hotel.address
            </p>
        </div>
    </div>
    <div class="col-12">
        <div id="map"></div>
    </div>
</div>

