@{
    List<ContentPageModel> contentPage = (List<ContentPageModel>)ViewBag.contentPage;
    HotelModel hotel = (HotelModel)ViewBag.hotel;
}

<div class="container">
    <div class="row">
        <form action="/AdministratorModifyPage/UpdateHome" method="post" enctype = "multipart/form-data">
            <div class="col-12">
                <div>
                    <br />
                    <h5> Modificar Páginas </h5>
                    <br />
                    <h6>Home</h6>
                    <textarea id="description" name="description" rows="10" cols="300">@hotel.description</textarea>
                </div>
            </div>
            <div class="col-12">
                <div class="row w-75">
                    <div class="col-4 text-center">
                        <br />
                        <h6>Imagen Actual</h6>
                        @foreach (ContentPageModel content in contentPage)
                        {
                            <img src="@content.urlimage" class="d-block w-100 img">
                        }
                    </div>
                    <div class="col-8">
                        <br />
                        <br />
                        <br />
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file" id="file">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <br />
                        <br />
                        <input id="update" type="submit" class="btn-group" value="Guardar">
                        <a href="ModifyPage"><input type="button" class="btn-group" value="Cancelar"></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

