@{
    List<ContentPageModel> contentPage = (List<ContentPageModel>)ViewBag.contentPage;
    HotelModel hotel = (HotelModel)ViewBag.hotel;
}
<div class="container pText w-75">
    <div class="row">
        <form action="/AdministratorModifyPage/UpdateLocate" method="post">
            <div class="col-12">
                <div>
                    <br />
                    <h4> Modificar Páginas </h4>
                    <br />
                    <h5> ¿Como llegar? </h5>
                    <textarea id="address" name="address" rows="10" cols="300">@hotel.address</textarea>
                </div>
            </div>
            <div class="col-12">
                <br />
                <br />
                <input title="Guardar Cambios" id="updateLocate" type="submit" class="btn btn-primary" value="Guardar">
                <a title="Volver" href="ModifyPage"><input type="button" class="btn btn-danger" value="Cancelar"></a>
            </div>
        </form>
    </div>
</div>

