@{
    List<ContentPageModel> contentPage = (List<ContentPageModel>)ViewBag.contentPage;
    HotelModel hotel = (HotelModel)ViewBag.hotel;
}

<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

        @foreach (ContentPageModel content in contentPage)
        {
            if (@content.referentpage.Equals("publicity"))
            {
                <div class="carousel-item active" data-interval="1000">
                    <img src=@content.urlimage alt="imagenHotelPatito" class="d-block w-100" />
                </div>
            }
        }       
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>