@{
    List<ContentPageModel> contentPage = (List<ContentPageModel>)ViewBag.contentPage;
    HotelModel hotel = (HotelModel)ViewBag.hotel;
}


<div class="container">
    <div class="row m-3">
        
        <div class="col-lg-4 col-md-4 col-sm-12 text-center">
            <div>
                <br />

                @foreach (ContentPageModel content in contentPage)
                {
                    <img src=@content.urlimage alt="imagenHotelPatito" />

                }


                <h5 class="titulopagina">@hotel.name</h5>

                <div class="separatorline"></div>
                <h6>HOTEL & RESORT</h6>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 text-justify">
            <br />
            <div class="pText">
                <h4 class="titulopagina">Bienvenido al @hotel.name</h4>
                <p>@hotel.description</p>
            </div>
        </div>

    </div>
</div>
